<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <%- styles %>
  <body>
    <div id="__refiro__">
      <%- appString %>
    </div>
    <%- js %>
    <%- reduxState %>
  </body>
</html>
